body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

